<div class="d-flex flex-column p-3 bg-light">
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        routerLink="/messages/inbox"
        routerLinkActive="active"
        class="nav-link link-dark"
      >
        Inbox
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/messages/sent"
        routerLinkActive="active"
        class="nav-link link-dark"
      >
        Sent
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link link-dark"
        routerLink="/messages/new"
        routerLinkActive="active"
      >
        New Message
      </a>
    </li>
  </ul>
  <hr />
</div>
